:root {
    /* font scale */
    --base-size: 1.5rem;
    --h1: calc(var(--base-size)*2.42); /*3.63rem*/
    --h2: calc(var(--base-size)*2); /*3rem*/
    --h3: calc(var(--base-size)*1.34); /*2rem*/
    --medium: calc(var(--base-size)*1.17); /*1.75rem*/
    --small: calc(var(--base-size)/1.2); /*1.25rem*/
    --xl: calc(var(--base-size)*2.67); /*4rem*/
    --xxl: calc(var(--base-size)*3.34); /*5rem*/
    --extra: calc(var(--base-size)*6.67); /*10rem*/

    /* fonts */
    --decorative: 'Princess Sofia', sans-serif;
    --sans: 'Patrick Hand', sans-serif;
}

/* Universal Styles */
* {
    box-sizing: border-box;
}

html {
    font-family: var(--sans);
}

body {
    margin: 0;
    cursor: url("./media/cursor-24.png"), auto;
}

a {
    text-decoration: none;
    cursor: url("./media/icons8-cursor-30.png"), auto;
}

h2 {
    text-align: center;
    font-size: var(--h2);
    font-weight: 400;
    color:#06384B;
}

.button {
    border-radius: 2.5rem;
    border: none;
    font-family: var(--sans);
    box-shadow: 5px 5px 15px rgba(53,17,17,0.5);
}
.button a {
    display: block;
    padding: 0.5rem 1.2rem;
}
.button:active {
    transform: translateY(2px);
}
/* Header: nav and banner */
header {
    background-image: radial-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.7)), url("./media/photo_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 810px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 0.5rem;
}

.Anastasia {
    font-family: var(--decorative);
    color: #FFFEF5;
    font-size: 2.5rem;
    margin-left: 2rem; 
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    display: inline-block;
    padding-right: 3.125rem;
    
}

.menu a, .button-primary a, .button-secondary a, .banner h1 {
    font-size: 1.75rem;
    color:#FFFEF5;
}

.menu a:hover {
    color:#E2BD5F;  
}
.menu a:active {
    font-size: var(--base-size);
}
.button-primary {
    margin-right: 2rem;
    margin-top: 1rem;
    background-color:#FFFEF5;
    transition: background-color 0.25s ease-in-out 0s;
}
.button-primary a {
    color: #06384B;
}
.button-primary:hover {
    background-color: #06384B;
}
.button-primary a:hover {
    color:#FFFEF5;
}
.button-secondary {
    background-color: #06384B;
    transition: background-color 0.25s ease-in-out 0s;
}
.button-secondary:hover {
    background-color: #FFFEF5;
}
.button-secondary a:hover {
    color:#06384B;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 600px;
    max-width: 46%;
    margin-left: var(--extra);
}

.banner h1 {
    font-size: var(--h1);
    font-weight: 400;
}

.about-me {
    display: grid;
    grid-template-columns: 3.5fr 5.5fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
    "header header"
    "photo div";
    background-color: #FFFEF5;
}
.about-me .flex-container {
    display: flex;
    flex-direction: column;
    grid-area: div;
    margin-bottom: 1rem;
}

.about-me h2 {
    grid-area: header;
}

.about-me img {
    grid-area: photo;
    max-width: 65%;
    border-radius: 50%;
    justify-self: center;
}

.about-me h3 {
    grid-area: text;
    color:#06384B;
    font-size: var(--h3);
    font-weight: 400;
    margin-top: 0;
    margin-bottom: var(--h1);
}
#facts {
    grid-area: facts;
    margin-right: 2rem;  
}
#facts button {
    display: inline-block;
    font-size: var(--base-size);
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 30px;
    background-color: #f3d385;
    border: none;
    color:#06384B;
    font-family: 'Patrick Hand', sans-serif;
    box-shadow: 5px 5px 15px rgba(42, 17, 53, 0.35);
    transition: transform 0.2s ease-out, background-color 0.2s ease-in;
}
#facts button:hover {
    cursor: url("./media/cursor-24.png"), auto;
    background-color:#f0dba5;
}
#facts button:active, #additionalFacts button:active {
    transform: translateY(2px);
}
#additionalFacts {
    grid-area: additionalFacts;
}
#additionalFacts p {
    font-size: var(--base-size);
    color:#06384B;
    margin-right: 2rem;
}
@keyframes bounceIn {
    0% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
#additionalFacts button {
    font-size: var(--base-size);
    border-radius: 30px;
    background-color: #BF3D57;
    border: none;
    color: #FFFEF5;
    font-family: var(--sans);
    box-shadow: 5px 5px 15px rgba(42, 17, 53, 0.35);
    transition: background-color 0.2s ease-in;
    animation: bounceIn 0.4s ease-in-out 2s;
}
#additionalFacts button:hover {
    background-color: #c95d72;
}
#behance {
    color: rgb(40, 36, 148);
}


/* Section my skills */
.my-skills {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr 1fr;
    place-items: center;
    background-color: #FFFEF5;
    padding: 0 var(--xxl) var(--h2) var(--xxl);
}

.my-skills h2 {
    grid-area: 1/1/2/12;
}

.my-skills .fa-brands {
    font-size: var(--xxl);
}
.my-skills .fa-solid {
    font-size: var(--xl);
}

.fa-html5 {
    color: #E44D26;
}
.fa-css3-alt {
    color: #0170BA;
}
.fa-js {
    color: #F7DF1E;
}
.fa-npm {
    color: #CB3837;
}
.fa-react {
    color: #61DAFB;
}
.fa-git-alt {
    color: #F05033;
}

/* Section my projects */
.my-projects {
    display: flex;
    flex-wrap: wrap;
    background-color: #06384B;
    justify-content: space-evenly;
}

.my-projects h2 {
    width: 100%;
    color:#FFFEF5;
}
.project {
    /* display: grid;
    grid-template-rows: repeat(7, 4.75rem);
    grid-template-columns: 5.2rem 25rem repeat(7, 5.2rem); */
    background-color: #06384B;
    /* padding: 5.5rem; */
    color: #FFFEF5;
}

.project table {
    width: 62.5rem;
    border-collapse: collapse;
    margin-bottom: 3rem;
}

.project th, .project td {
    border: 2px solid #FFFEF5;
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
}

.project .top-border {
    border-top: none;
}

.project .left-border {
    border-left: none;
}

.project .bottom-border {
    border-bottom: none;
    color:#06384B;
}

.project .right-border {
    border-right: none;
    color:#06384B;
}

.project .text-table {
    text-align: left;
    padding-left: 1rem;
}

.project i {
    margin: 1rem 0;
    font-size: 2rem;
    width: 36px;
    
}

.project .fa-github {
    color: black;
    background-color: #FFFEF5;
    border-radius: 50px;
    padding: 0.15rem;
    transition: transform 0.2s ease-in;
}

.project .fa-arrow-up-right-from-square {
    color: #E2BD5F;
    transition: transform 0.2s ease-in;
}

.project .fa-arrow-up-right-from-square:hover, .project .fa-github:hover {
    transform: translate(2px, -2px);
}

.project .fa-circle-check {
    color: #1CC92B;
}

.project .width-column {
    width: 4.5rem;
}

.text-table {
    transition: transform 0.2s ease-in;
}

.text-table a:visited {
    color: #FFFEF5;
}

.text-table:hover {
    transform: translate(2px, -2px);
}

/* Previous design
.project {
    display: grid;
    place-items: center;
    grid: auto 50px / repeat(4, 1.5fr);
    background-color: #FFFEF5;
    color:#06384B;
    height: 300px;
    width: 280px;
    border-radius: 30px;
    margin: 3rem 0 6rem 0;
}

.browser-link {
    grid-area: 1/2/2/3;
    justify-self: start;
}
.fa-window-maximize, .project .fa-github {
    font-size: var(--h2);
    cursor: url("./media/cursor-24.png"), auto;
}
.fa-window-maximize {
    color:#212381;
}
.project .fa-github {
    color:#212381;
}
.github-link {
    grid-area: 1/3/2/4;
    justify-self: end;
}
.project h3 {
    grid-area: 1/1/2/5;
    font-size: var(--h3);
    font-weight: 400;
    text-align: center;
    margin-top: 3rem;
    background-color:#a94a5d;
    color:#FFFEF5;
    padding: 0.5rem 2rem;
    height: 9rem;
}
/* #BF3D57 
.html {
    grid-area: 2/1/3/2;
    justify-self: end;
}

.css {
    grid-area: 2/2/3/3;
}
.javascript{
    grid-area: 2/3/3/4;
}
.html, .css, .javascript {
    font-size: 1.25rem;
} */

/* My contacts section */
.my-contacts {
    background-color: #FFFEF5;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 2.5rem;
}

.my-contacts h2 {
    width: 100%;
}

.my-contacts i {
    padding: var(--h3);
    font-size: var(--xl);
}

a.contact-link {
    color: black;
}

a.contact-link .fa-linkedin {
    color: #0E76A8;
}

a.contact-link .fa-envelope {
    color:#06384B;
}

footer {
    background-color: #06384B;
    color:#FFFEF5;
    text-align: center;
    font-size: var(--base-size);
    padding: 2rem;
}

footer p {
    margin: 0;
}

/* Media queries */
@media only screen and (max-width: 1200px) and (min-width: 800px){
    :root {
        --base-size: 1.3rem;
    }
    .project h3 {
        font-size: 2rem;
    }
    .project table {
        width: 44rem;
    }
    .project th, .project td {
        font-size: 1.25rem;
    }
    .project .left-border {
        padding-right: 0.25rem;
    }
    .project .width-column {
        width: 3.5rem;
    }
    .project i {
        font-size: 1.5rem;
        width: 30px;
    }
}

@media only screen and (max-width: 800px) and (min-width: 450px) {
    :root {
        --base-size: 1rem;
    }
    header {
        height: 700px;
    }
    .Anastasia {
        font-size: 2rem;
    }
    #facts button, #additionalFacts button {
        font-size: 1.25rem;
    }
    .menu a, .button-primary a, .button-secondary a {
        font-size: 1.25rem;
    }
    .project h3 {
        font-size: 2rem;
    }
    .project table {
        width: 25rem;
        margin-top: 1rem;
    }
    .project > span {
        font-size: 1rem;
        margin-left: 2rem;
    }
}
@media only screen and (max-width: 682px){
    .logo-name span {
        display: none;
    }
    .my-skills .fa-brands {
        font-size: var(--h1);
    }
    .my-skills .fa-solid {
        font-size: var(--h2);
    }
    .banner {
        margin-left: 4rem;
        height: 500px;
    }
}
@media only screen and (max-width: 544px){
    .button-primary {
        display: none;
    }
}
@media only screen and (max-width: 800px){
    .project .left-border {
        padding-right: 0.25rem;
    }
    .project .text-table {
        padding: 0.4rem;
    }
    .project th, .project td {
        font-size: 0.9rem;
    }
    .project .width-column {
        width: 2.5rem;
    }
    .project i {
        font-size: 1.25rem;
        width: 24px;
}
}

@media only screen and (max-width: 450px){
    :root {
        --base-size: 0.8rem;
    }
    nav {
        display: none;
    }
    header {
        height: 400px;
    }
    .banner {
        height: 400px;
        margin-left: 2rem;
        max-width: 60%;
    }
    .about-me {
        grid-template-columns: 1fr;
    }
    .about-me img {
        display: none;
    }
    #facts, #additionalFacts {
        margin-left: 2rem;
    }
    .about-me h3 {
        text-align: center;
    }
    #facts button {
        padding: 0.8rem;
    }
    .menu a, .button-primary a, .button-secondary a {
        font-size: 1.25rem;
    }
    .my-skills .fa-brands {
        font-size: var(--h2);
    }
    .my-skills .fa-solid {
        font-size: var(--h3);
    }
    .my-skills {
        padding: 0 var(--h3) var(--h3) var(--h3);
    }
    .project {
        margin: 0.5rem 0 3rem 0;
    }
    .project h3 {
        font-size: 1.75rem;
    }
    .project .display-none {
        display: none;
    }
    .project table {
        width: 18.5rem;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 320px) {
    .banner h1 {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
    .banner .button a {
        font-size: 1rem;
        padding: 0.5rem;
    }
}